<<<<<<< HEAD
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  
  
    background-image: url('../assets/imgs/contato/fotocontato.jpeg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  main {
    max-width: 800px;
    margin: 50px auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
  }
  
  h2 {
    text-align: center;
    color: #350303;
    margin-bottom: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .linha-dupla {
    display: flex;
    gap: 40px;
  }
  
  .linha-dupla input {
    width: 100%;
  }
  
  label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
  }
  
  input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
  }
  
  textarea {
    resize: vertical;
    height: 150px;
  }
  
  input:focus, textarea:focus {
    border-color: #7b2c2c;
    outline: none;
  }
  
  .botao-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  button {
    padding: 12px;
    background-color: #7b2c2c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    height: 60px;
    width: 180px;
    display: block;
  }
  
  button:hover {
    background-color: #a03c3c;
  }
  
=======
/* header fixado */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
>>>>>>> main
