/*
    Efeitos para a seção de catálogo
*/

.white-box:hover {
    box-shadow: 6px 6px 22px 2px rgb(102, 102, 102);
    cursor: pointer;
}

.item button:focus {
    background-color: #9b343a;
}

/*
    Efeitos para a seção de harmonizações
*/

.whiteBox:hover {
    box-shadow: 10px 7px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.whiteBox:first-child,
.whiteBox:nth-child(2) {
    margin-top: 100px;
}

/*
    Animação para a logo do site
*/

header img {
    width: 165px;
    animation: ressurgir 3s infinite;
}

@keyframes ressurgir {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*
    Aplicando estilo (::before) a cada label do form.
    Indicando que o campo deve ser preenchido.
*/

label::before {
    content: "* ";
    color: red;
}

/*
    Aplicando efeito com scale nas fotos da index (diminui ao colocar o mouse sobre elas)
*/

.img-index {
    transition: all .5s ease;
}

.img-index:hover {
    transform: scale(0.95);
}

/*
    Estilo individual à primeira letra dos artigos da index
*/

.subtitulo-index::first-letter {
    color: gray;
    font-size: 3rem;
}

/*
    Estilizando os cards da seção de aprenda com translateX para andar para a direita
*/

.aprenda .topico:hover {
    cursor: pointer;
    transform: translateX(20px);
}

